{% extends 'ReservationService/base.html' %}

{% block title %} Reservation {% endblock %}
{% block content %}
    <h2>You can reserve term here</h2>
    <form method="POST"> {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Search'>

    </form>
    <br>
    Available class: <br>
    <form method="POST"> {% csrf_token %}
    {% for class_ in available_class %}
        <input type="hidden" value="{{ form.data }}" name="additional_data">
        <input type="hidden" value="{{ class_.class_name }}" name="class">
        <label for="class_to_book">{{ class_ }}
        <input type="submit" name="class_to_book" ></label>
        <br>
    {% endfor %}
     </form>
{% endblock %}
